<h2>Timetracker</h2>
<h3>Please enter the dates to search</h3>
<%= form_for :range, method: :get do |field| %>
  <p>
    <%= field.label :start %><br>
    <%= field.date_field :start, :value => @s, :placeholder => "YYYY-MM-DD" %>
  </p>
  <p>
    <%= field.label :end %><br>
    <%= field.date_field :end, :value => @e, :placeholder => "YYYY-MM-DD" %>
  </p>
  <p>
    <%= field.submit :value => 'Search' %>
  </p>
<% end %>
<br>
<center><h3>Late Employees</h3></center>
<table id="late-table" class="display">
<thead>
  <tr>
    <th>Employee</th>
    <th>Badge Num.</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
</thead>
  <tbody>
    <% @late_employees.each do |timetrack| %>
      <tr>
        <td><%= timetrack.badge.employee.full_name %></td>
        <td><%= timetrack.badge_id %></td>
        <td><%= timetrack.date %></td>
        <td><%= timetrack.time.strftime("%T") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<center><h3>Employees that didn't come</h3></center>
<table id="didnt-come-table" class="display" width="100%" cellspacing="0">
<thead>
  <tr>
    <th>Employee</th>
    <th>Date</th>
  </tr>
</thead>
  <tbody>
    <% @dates_not_come.each do |row| %>
      <% row[1].each do |employee| %>
        <tr>
          <td><%= employee.full_name %></td>
          <td><%= row[0] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
